<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yatrimitra">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YatriMitra"
        android:name=".YatriMitraApp"
        android:usesCleartextTraffic="true">

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".OnboardingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DriverSearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DriverInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InAppCallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ArrivalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TripHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StatsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SafetyContactsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
